
@mixin flexible( $a, $b, $c, $d ){
	display			: flex;
	flex-flow		  : $a $b;
	justify-content	: $c;
	@if $b == 'nowrap' {
		align-items		: $d;	
	}@else{
		align-content	: $d;
	}	
}

@mixin glass {
	background: rgba(118, 213, 216, 0.438);
	box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
	backdrop-filter: blur( 12.0px );
	-webkit-backdrop-filter: blur( 12.0px );
	border-radius: 10px;
	border: 1px solid rgba( 255, 255, 255, 0.18 );	
}

@mixin fontSecciones {
		font-size:  var(--tipoSeccionSize);
        font-weight: var(--tipoSeccionWeight);
		letter-spacing: .2em;
	    text-transform: uppercase;	
}