:root{
    --colorFondo:#a7a7a7;
    --colorFondoprueba:rgba(0, 0, 0, 0.726);
    --colorSecundario:rgb(118, 212, 216);
    --colorTerc:#000000d7;
    --colorLetras:rgb(0, 0, 0);

    --tipografia:'Inconsolata';
    --tipoSeccionSize:2em;
    --tipoSeccionWeight:800;
}

@media only screen and (max-width:960px){
    :root{
        --tipoSeccionSize:1.2em;
        --tipoSeccionWeight:600;
    }
} 

